@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* to fix the search bar after clicking the search icon */
.form-control::placeholder {
  color: #8c8c8c;
}
/* to fix the small margin left from the dropdown profile */
nav .dropdown-toggle::after {
  content: none;
}
