@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #141414;
}

/* to fix the search bar after clicking the search icon */
.form-control::placeholder {
  color: #8c8c8c;
}
/* to fix the small margin left from the dropdown profile */
nav .dropdown-toggle::after {
  content: none;
}

/* need to fix navbar-tv shows styling colours with js after completing everything */

.gradient-profile-navbar {
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}
